body {
    background-color: #F9F9F9;
}

/*Navbar*/
#Header{

    width: 100%;
    display: block;
    background-color: #06370E;

    display: flex;
    justify-content: center;
    align-items: center;
}
#NavbarAJJD{
    background-color: #06370E;

}

#NavbarTitle{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;

    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;

}

/**---------------------------------------------**/
#InicioNav{
    color: white;
    background-color: #06370E;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#MateriasNav{
    color: white;
    background-color: #06370E;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#AlumnosNav{
    color: white;
    background-color: #06370E;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

#PerfilNav{
    color: white;
    background-color: #06370E;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

/*Fin Navbar*/

/**---------------------------------------------**/
#MyBody{
    min-height: 76vh;
    margin: 0;
    /*display: flex;
    flex-direction: column;*/
}


#divider{

    border: 0;
    border-top: 2px solid black;
    
}

#BotonNuevo{
    background-color: #002B2B;
}

.textoTH, #textoTH {
    font-size: 20px;
    font-weight: bold;
}

#TablaAlumno th{
    
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#TablaAlumnoTR {
    background-color: #7F9883; 
    margin-bottom: 100px;
}

#TablaAlumno td{
    
    justify-content: center;
    vertical-align: middle;
}

#IconoContenedor{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 0px;
}

#cajaTexto {
    background-color: #CDD1DC; 
    padding: 10px 15px 10px 15px; 
    border-radius: 10px; 
    width: 120px;
}


/**---------------------------------------------**/

#Footer{
    background-color: #06370E;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
/*
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
    text-align: center;*/
}